Repository systembugtj/wsx-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: update release workflow
  .github/workflows/release.yml
Due: prettier --write

Feature/release fix (#3)
  .github/workflows/release.yml
Due: prettier --write

Develop (#5)
  .github/workflows/release.yml
Due: prettier --write

chore: release 0.0.2
  package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/examples/package.json
  packages/vite-plugin/package.json
Due: prettier --write

fix: upgrade to eslint 9 with esm support and flat config
  .commitlintrc.cjs
  .eslintignore
  .eslintrc.json
  docs/WSX_SOLO_DEV_TEMPLATE.md
  eslint.config.js
  package.json
  packages/core/src/wsx-types.d.ts
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/flat.ts
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/types.ts
  packages/examples/.eslintrc.js
  packages/examples/eslint.config.js
  packages/examples/package.json
  packages/examples/src/types.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: update jsx-factory
  packages/core/src/jsx-factory.ts
Due: eslint --fix, prettier --write

fix: lint with better type
  packages/core/src/jsx-factory.ts
  packages/examples/src/components/XyButton.wsx
  tsconfig.json
Due: eslint --fix, prettier --write

fix: add jsx lint support to wsx framework
  .claude/settings.local.json
  CLAUDE.md
  README.md
  docs/JSX_SUPPORT.md
  docs/QUICK_START.md
  packages/core/package.json
  packages/core/src/jsx-factory.ts
  packages/core/src/jsx-runtime.ts
  packages/core/src/jsx.ts
  packages/core/tsconfig.json
  packages/core/types/css-inline.d.ts
  packages/core/types/index.d.ts
  packages/core/types/jsx-runtime.d.ts
  packages/core/types/jsx.d.ts
  packages/core/types/wsx-types.d.ts
  packages/eslint-plugin/src/configs/flat.ts
  packages/examples/.vscode/settings.json
  packages/examples/eslint.config.js
  packages/examples/package.json
  packages/examples/src/components/ColorPicker.wsx
  packages/examples/src/components/XyButton.wsx
  packages/examples/src/components/XyButtonGroup.wsx
  packages/examples/src/types.d.ts
  packages/examples/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add tsconfig.json to examples
  packages/core/types/wsx-types.d.ts
  packages/eslint-plugin/src/configs/flat.ts
  packages/examples/tsconfig.json
Due: eslint --fix, prettier --write

feat: add types for core package
  .cursor/settings.json
  README.md
  docs/DESIGN_PHILOSOPHY.md
  docs/README.md
  docs/chrome-debugging-guide.md
  docs/wsx-framework-redesign-task.md
  jest.config.js
  package.json
  packages/core/TYPES.md
  packages/core/package.json
  packages/core/src/jsx-factory.ts
  packages/core/types/css-inline.d.ts
  packages/core/types/index.d.ts
  packages/core/types/wsx-types.d.ts
  packages/eslint-plugin/__tests__/integration.test.ts
  packages/eslint-plugin/src/configs/flat.ts
  packages/eslint-plugin/src/rules/no-react-imports.ts
  packages/eslint-plugin/src/rules/render-method-required.ts
  packages/eslint-plugin/src/rules/web-component-naming.ts
  packages/eslint-plugin/src/types.ts
  packages/examples/index.html
  packages/examples/package.json
  packages/examples/src/App.css
  packages/examples/src/App.wsx
  packages/examples/src/components/ColorPicker.wsx
  packages/examples/src/components/ThemeSwitcher.wsx
  packages/examples/src/components/XyButton.wsx
  packages/examples/src/components/XyButtonGroup.wsx
  packages/examples/src/main.ts
  packages/examples/src/test-css.html
  packages/examples/src/types.d.ts
  packages/examples/tsconfig.json
  packages/examples/uno.config.ts
  packages/examples/vite.config.ts
  pnpm-lock.yaml
  scripts/debug-chrome.js
Due: eslint --fix, prettier --write

chore: release v0.0.3
  package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/examples/package.json
  packages/vite-plugin/package.json
Due: prettier --write

chore: update claude settings permissions
  .claude/settings.local.json
Due: prettier --write

fix: double render when rerender call first
  package.json
  packages/core/src/web-component.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: bump version to 0.0.4
  packages/eslint-plugin/package.json
Due: prettier --write

chore: update remaining package versions to 0.0.4
  .claude/settings.local.json
  package.json
  packages/core/package.json
  packages/examples/package.json
  packages/vite-plugin/package.json
Due: prettier --write

feat: support svg properly as it requires
  packages/core/__tests__/jsx-factory.test.ts
  packages/core/src/jsx-factory.ts
  packages/core/src/svg-utils.ts
  packages/examples/src/App.wsx
  packages/examples/src/SvgDemo.wsx
  packages/examples/src/SvgIcon.wsx
  packages/examples/src/main.ts
Due: eslint --fix, prettier --write

0.0.5
  package.json
Due: prettier --write

feat: add native svg support with proper namespace handling
  .changeset/README.md
  .changeset/config.json
  CHANGELOG.md
  README.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: implement reactive state system and dual testing setup
  .claude/settings.local.json
  README.md
  README.zh.md
  docs/REACTIVE_STATE.md
  jest.config.js
  package.json
  packages/core/__tests__/reactive-component.test.ts
  packages/core/__tests__/reactive-integration.test.ts
  packages/core/__tests__/reactive.test.ts
  packages/core/src/index.ts
  packages/core/src/reactive-component.ts
  packages/core/src/reactive.ts
  packages/examples/package.json
  packages/examples/src/App.wsx
  packages/examples/src/SimpleReactiveDemo.wsx
  packages/examples/src/__tests__/Button.test.ts
  packages/examples/src/components/ReactiveCounter.css
  packages/examples/src/components/ReactiveCounter.wsx
  packages/examples/src/main.ts
  packages/examples/test/setup.ts
  packages/examples/vitest.config.ts
  pnpm-lock.yaml
  rfcs/0000-template.md
  rfcs/2025-01-20-component-composition.md
  rfcs/2025-01-20-development-tooling.md
  rfcs/2025-01-20-reactive-state-system.md
  rfcs/README.md
Due: eslint --fix, prettier --write

fix: resolve Jest configuration and reactive component test issues
  .claude/settings.local.json
  jest.config.js
  packages/core/__tests__/reactive-component.test.ts
Due: eslint --fix, prettier --write

test: vitest
  packages/core/__tests__/reactive-component.test.ts
Due: eslint --fix, prettier --write

feat: import 1
  .claude/settings.local.json
  packages/base-components/package.json
  packages/base-components/src/ColorPicker.css
  packages/base-components/src/ColorPicker.wsx
  packages/base-components/src/ColorPickerUtils.ts
  packages/base-components/src/ReactiveCounter.css
  packages/base-components/src/ReactiveCounter.wsx
  packages/base-components/src/SimpleReactiveDemo.wsx
  packages/base-components/src/SvgDemo.wsx
  packages/base-components/src/SvgIcon.wsx
  packages/base-components/src/ThemeSwitcher.css
  packages/base-components/src/ThemeSwitcher.wsx
  packages/base-components/src/XyButton.css
  packages/base-components/src/XyButton.wsx
  packages/base-components/src/XyButtonGroup.css
  packages/base-components/src/XyButtonGroup.wsx
  packages/base-components/src/index.ts
  packages/base-components/src/jsx-inject.ts
  packages/base-components/src/types/wsx.d.ts
  packages/base-components/tsconfig.json
  packages/base-components/tsup.config.ts
  packages/core/__tests__/reactive-integration.test.ts
  packages/core/src/jsx-factory.ts
  packages/core/src/jsx-runtime.ts
  packages/core/src/reactive-component.ts
  packages/examples/package.json
  packages/examples/src/__tests__/Button.test.ts
  packages/examples/src/main.ts
  packages/examples/src/test-css.html
  packages/examples/test/setup.ts
  packages/examples/vite.config.ts
  packages/examples/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: style bundle
  CLAUDE.md
  README.md
  README.zh.md
  docs/component-library-build-guide.md
  packages/base-components/README.md
  packages/base-components/package.json
  packages/base-components/src/ReactiveCounter.wsx
  packages/base-components/src/SimpleReactiveDemo.wsx
  packages/base-components/src/SvgDemo.wsx
  packages/base-components/src/SvgIcon.wsx
  packages/base-components/src/ThemeSwitcher.css
  packages/base-components/src/ThemeSwitcher.wsx
  packages/base-components/vite.config.ts
  packages/examples/src/App.css
  packages/examples/src/App.wsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: page
  docs/modern-xybutton-design.md
  packages/base-components/README.md
  packages/base-components/package.json
  packages/base-components/public/demo.html
  packages/base-components/public/index.html
  packages/base-components/src/XyButton.css
  packages/base-components/src/XyButton.wsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: tweak
  .claude/settings.local.json
  .lintstagedrc.json
  packages/base-components/package.json
  packages/base-components/public/demo.html
  packages/base-components/public/index.html
  packages/base-components/src/SvgDemo.wsx
  packages/base-components/src/XyButton.css
  packages/base-components/src/XyButton.wsx
  packages/core/src/index.ts
  packages/core/src/jsx-factory.ts
  packages/core/src/reactive-component.ts
  packages/core/src/utils/logger.ts
  packages/core/src/utils/reactive.ts
  packages/core/src/utils/svg-utils.ts
  packages/core/types/index.d.ts
  packages/examples/src/App.wsx
  packages/examples/src/types.d.ts
Due: eslint --fix, prettier --write

fix: tweak testing
  .lintstagedrc.json
Due: prettier --write

fix: clean up
  .vscode/extensions.json
Due: prettier --write

docs: rename
  docs/README.md
  docs/design/2025-07-14-wsx-practice-plan.md
  docs/design/2025-07-15-ci-fixes.md
  docs/design/2025-07-15-cicd-strategy.md
  docs/design/2025-07-15-github-rulesets.md
  docs/design/2025-07-15-implementation-summary.md
  docs/design/2025-07-16-wsx-solo-dev-template.md
  docs/design/2025-07-19-chrome-debugging-guide.md
  docs/design/2025-07-19-reactive-state.md
  docs/design/2025-07-19-wsx-framework-redesign-task.md
  docs/design/2025-07-20-component-library-build-guide.md
  docs/design/2025-07-20-modern-xybutton-design.md
Due: prettier --write

docs: rename
  docs/README.md
Due: prettier --write

fix: style
  packages/examples/src/App.css
  packages/wsx-router/src/WsxLink.css
Due: prettier --write

fix: log and routing
  .vscode/settings.json
  packages/examples/index.html
  packages/examples/public/favicon.svg
  packages/examples/src/components/App.css
  packages/examples/src/components/App.wsx
  packages/examples/src/components/EcosystemSection.wsx
  packages/examples/src/components/ExamplesSection.wsx
  packages/examples/src/components/FeaturesSection.wsx
  packages/examples/src/components/HomeSection.wsx
  packages/examples/src/components/QuickStartSection.wsx
  packages/examples/src/components/WsxLogo.wsx
  packages/examples/src/main.css
  packages/examples/src/main.ts
Due: eslint --fix, prettier --write

fix: clean up unused imports and fix component paths
  packages/examples/src/pages/HomePage.wsx
Due: eslint --fix, prettier --write

fix: version
  packages/wsx-router/package.json
Due: prettier --write

feat: github actions for deploy pages
  .github/workflows/deploy-pages.yml
  README.md
  packages/examples/package.json
  packages/examples/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Updates
  .changeset/README.md
  .changeset/config.json
  .claude/settings.local.json
  .commitlintrc.cjs
  .cursor/settings.json
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  .prettierignore
  .prettierrc.json
  .releaserc.js
  .vscode/extensions.json
  .vscode/settings.json
  assets/index-5fpt-Nqm.css
  assets/index-D3JJw0kT.js
  favicon.svg
  index.html
  packages/examples/.vscode/settings.json
Due: eslint --fix, prettier --write

feat: add github pages deployment commands
  .claude/settings.local.json
  package.json
Due: prettier --write

fix: remove frozen-lockfile from ci to resolve deployment issues
  .github/workflows/deploy-pages.yml
Due: prettier --write

feat: add custom domain www.wsx-framework.com
  packages/examples/public/CNAME
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,wsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx,wsx}) or (any of: *.{json,css,md,yml,yaml})
