Repository systembugtj/wsx-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --max-warnings=17

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,wsx}": ["eslint --fix", "prettier --write", "eslint --max-warnings=17"],
    "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

fix: use root path for custom domain deployment
  .claude/settings.local.json
  packages/examples/package.json
  packages/examples/vite.config.ts
Due: eslint --fix, prettier --write, eslint --max-warnings=17

feat: add custom domain environment variables to workflow
  .github/workflows/deploy-pages.yml
Due: prettier --write

feat: change primary domain to wsxjs.dev
  packages/examples/public/CNAME
Due: none

chore: wsxjs
  docs/EXAMPLE_DEVELOPMENT_PLAN.md
  docs/ROADMAP.md
  docs/design/2025-07-15-cicd-strategy.md
  packages/base-components/README.md
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: wsxjs
  .claude/settings.local.json
  .commitlintrc.cjs
  docs/design/2025-07-15-cicd-strategy.md
  docs/design/2025-07-15-implementation-summary.md
  docs/design/2025-07-15-jsx-factory-auto-injection-bug.md
  docs/design/2025-07-16-wsx-solo-dev-template.md
  docs/design/2025-07-19-reactive-state.md
  docs/design/2025-07-20-component-library-build-guide.md
  packages/base-components/tsconfig.json
  packages/eslint-plugin/CHANGELOG.md
  packages/examples/tsconfig.json
  packages/vite-plugin/CHANGELOG.md
  packages/wsx-router/README.md
  packages/wsx-router/tsconfig.json
Due: prettier --write

chore: wsxjs
  packages/core/__tests__/jsx-factory.test.ts
  packages/core/__tests__/reactive-integration.test.ts
  packages/core/__tests__/reactive.test.ts
Due: eslint --fix, prettier --write, eslint --max-warnings=17

fix: correct import paths in test files
  .claude/settings.local.json
Due: prettier --write

chore: wsxjs
  .changeset/config.json
  docs/rfcs/0001-wsx-router.md
  docs/rfcs/0003-development-tooling.md
  packages/core/CHANGELOG.md
  packages/core/TYPES.md
  packages/eslint-plugin/README.md
Due: prettier --write

fix: UPPER CASE
  .commitlintrc.cjs
Due: none

fix: Disable lowercase commit requirement and Fix PR workflow
  .github/workflows/pr.yml
Due: prettier --write

chore: Disable PR commit validation for single developer project
  .github/workflows/pr.yml
Due: prettier --write

chore: wsxjs
  README.md
  README.zh.md
  docs/design/2025-07-15-cicd-strategy.md
  docs/design/2025-07-15-implementation-summary.md
Due: prettier --write

fix: naming
  CLAUDE.md
  README.md
  README.zh.md
  docs/QUICK_START.md
  docs/design/2025-07-15-cicd-strategy.md
  packages/eslint-plugin/README.md
Due: prettier --write

feat: editorjs demo
  .claude/settings.local.json
  packages/examples/package.json
  packages/examples/src/App.css
  packages/examples/src/App.wsx
  packages/examples/src/components/EcosystemSection.css
  packages/examples/src/components/EcosystemSection.wsx
  packages/examples/src/components/ExamplesSection.css
  packages/examples/src/components/ExamplesSection.wsx
  packages/examples/src/components/FeaturesSection.css
  packages/examples/src/components/FeaturesSection.wsx
  packages/examples/src/components/HomeSection.css
  packages/examples/src/components/HomeSection.wsx
  packages/examples/src/components/QuickStartSection.css
  packages/examples/src/components/QuickStartSection.wsx
  packages/examples/src/editorjs/EditorJSDemo.css
  packages/examples/src/editorjs/EditorJSDemo.wsx
  packages/examples/src/editorjs/WsxAlertBlock.wsx
  packages/examples/src/editorjs/WsxAlertComponent.css
  packages/examples/src/editorjs/WsxAlertComponent.wsx
  packages/examples/src/editorjs/WsxAlertTool.css
  packages/examples/src/editorjs/WsxAlertTool.wsx
  packages/examples/src/editorjs/WsxHighlightTool.wsx
  packages/examples/src/main.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, eslint --max-warnings=17

fix: lightDIOM for editrojs
  .claude/settings.local.json
  packages/core/src/index.ts
  packages/core/src/light-component.ts
  packages/core/src/reactive-component.ts
  packages/core/types/index.d.ts
  packages/examples/package.json
  packages/examples/src/App.wsx
  packages/examples/src/components/ExamplesSection.wsx
  packages/examples/src/editorjs/EditorJSDemo.css
  packages/examples/src/editorjs/EditorJSDemo.wsx
  packages/examples/src/editorjs/WsxAlertComponent.wsx
  packages/examples/src/editorjs/WsxAlertTool.wsx
  packages/examples/src/editorjs/WsxHighlightButton.wsx
  packages/examples/src/editorjs/WsxHighlightTool.wsx
  packages/examples/test-editorjs.html
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, eslint --max-warnings=17

feat: lightDOM for Editorjs
  .claude/settings.local.json
  CLAUDE.md
  docs/rfcs/0001-wsx-router.md
  docs/rfcs/0006-light-dom-components.md
  packages/core/src/light-component.ts
  packages/core/types/index.d.ts
  packages/examples/src/App.wsx
  packages/examples/src/editorjs/EditorJSDemo.wsx
  packages/examples/src/editorjs/__tests__/EditorJSDemo.test.ts
Due: eslint --fix, prettier --write, eslint --max-warnings=17

feat: make editorjs work as container with lightDOM
  docs/COMPONENT_ARCHITECTURE.md
  docs/rfcs/0006-light-dom-components.md
  packages/examples/src/App.wsx
  packages/examples/src/editorjs/EditorJSDemo.wsx
  packages/wsx-router/src/WsxRouter.wsx
  packages/wsx-router/src/WsxView.wsx
Due: eslint --fix, prettier --write, eslint --max-warnings=17

feat: more tool for editorjs
  .claude/settings.local.json
  .vscode/settings.json
  packages/base-components/src/ReactiveCounter.css
  packages/examples/package.json
  packages/examples/src/components/ExamplesSection.wsx
  packages/examples/src/editorjs/EditorJSDemo.wsx
  packages/examples/src/editorjs/WsxAlertBlock.wsx
  packages/examples/src/editorjs/WsxAlertComponent.wsx
  packages/examples/src/editorjs/WsxAlertTool.wsx
  packages/examples/src/editorjs/WsxCodeComponent.wsx
  packages/examples/src/editorjs/WsxCodeTool.css
  packages/examples/src/editorjs/WsxCodeTool.wsx
  packages/examples/src/editorjs/WsxHighlightTool.wsx
  packages/examples/src/editorjs/WsxTableComponent.wsx
  packages/examples/src/editorjs/WsxTableTool.css
  packages/examples/src/editorjs/WsxTableTool.wsx
  packages/examples/src/editorjs/__tests__/EditorJSDemo.test.ts
  packages/examples/src/editorjs/__tests__/WsxCodeComponent.test.ts
  packages/examples/src/editorjs/__tests__/WsxCodeTool.test.ts
  packages/examples/src/editorjs/__tests__/WsxTableComponent.test.ts
  packages/examples/src/editorjs/__tests__/WsxTableTool.test.ts
  packages/examples/src/global.d.ts
  packages/examples/src/types.d.ts
  packages/examples/test/setup.ts
  packages/examples/tsconfig.json
  packages/examples/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, eslint --max-warnings=17
